
RewriteEngine On
RewriteCond %{THE_REQUEST} ^GET\ /(.+).html [NC]
RewriteRule ^ /%1? [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteRule ^cerveza carta [L]
RewriteRule ^ron carta [L]
RewriteRule ^aguardiente carta [L]
RewriteRule ^vino carta [L]
RewriteRule ^whisky carta [L]
RewriteRule ^tequila carta [L]
RewriteRule ^ginebra carta [L]
RewriteRule ^vodka carta [L]
RewriteRule ^sin-alcohol carta [L]